<html>
    <head>
        <title>My Data Loader</title>
    </head>

    <body>
        <h1>Welcome to my Data Loader!</h1>
        <h3>Here you'll be able to load your files and, maybe visualize them.</h3>
        <form action="{% url "home" %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.description.label_tag }} {{ form.description.help_text }}</p>
            <p>
                {{ form.description.errors }}
                {{ form.description }}
            </p>>    
            <p>{{ form.file.label_tag }} {{ form.file.help_text }}</p>
            <p>
                {{ form.file.errors }}
                {{ form.file }}
            </p>

            <p><input id="upload_submit" type="submit" value="Upload"/></p>
            {% if upload_ok %}
                <span id="upload_ok">upload_ok</span>
            {% endif %}
            <table id="id_list_table">
                {% for f in listfiles %}
                    <tr>                    
                        <td>{{ f }}</td>
                        <td><a class='remove_item' href="remove_item/{{ f.id }}">Remove item</a>
                        <td><a class='load_item' href='load_item/{{ f.id }}'>Load item</a>
                    </tr>
                {% endfor %}                                 
            </table>
        </form>
    </body>
</html>
